/* portfolio / certificate */

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.project-container {
    width: 18rem;
    min-height: 21rem;
    margin: 2rem;
}

.project-img {
    width: 12rem;
    object-fit: cover;
    border: 3px solid var(--dk-gray);
    border-radius: 5px;
}

.project-container h3,
.project-container p {
    margin: 0.5rem;
}

.project-btn {
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid var(--dk-purple);
    border-left: 2px solid var(--dk-purple);
    box-shadow: 0 0 2px var(--dk-purple);
    color: var(--dk-purple);
    margin: 0.25rem 0.5rem;
}

.project-btn:disabled,
.project-btn:disabled:hover,
.project-btn:disabled:active {
    border-bottom: 2px solid var(--md-gray);
    border-left: 2px solid var(--md-gray);
    box-shadow: 0 0 2px var(--md-gray);
    border-top: none;
    border-right: none;
    color: var(--md-gray);
    cursor: default;
    background-color: white;
}

.project-btn:hover {
    background-color: #eee9ee;
}

.project-btn:active {
    border-top: 2px solid var(--md-red);
    border-right: 2px solid var(--md-red);
    border-bottom: none;
    border-left: none;
    color: var(--md-red);
}

.pills-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;

}

.pill {
    font-weight: 600;
    text-transform: uppercase;
    /* opacity: 0.8; */
    color: white;
    font-size: 0.9rem;
    padding: 0 0.5rem;
}

.scroll {
    position: sticky;
    bottom: 2rem;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}