/* Welcome */

.welcome-page {
    margin-top: 1rem;
}

.welcome-page h1 {
    margin: 0rem auto;
}

.welcome-page h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.welcome-page p {
    font-size: 1.25rem;
}

.view-portfolio-btn {
    background-color: var(--dk-purple);
}

.btn-grid {
    margin: 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
}