
/* Pages */

.page-section {
    background-color: transparent;
    position: absolute;
    font-family: var(--main-font);
    right: 0;
    height: 38rem;
    width: 70%;
    max-width: 900px;
    padding: 0 3rem;
    overflow-x: visible;
}

.page-overlay {
    height: calc(100% + 3rem);
    width: 110%;
    /* overflow-y: scroll; */
    margin-top: -4rem;
    padding: 6rem;
    /* width: fit-content; */
    -webkit-mask-image: url('../../assets/brushoverlay.png');
    mask-image: url('../../assets/brushoverlay.png');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background-color: #ffffffbb;
    position: absolute;
    top: 0;
    z-index: 0;
    overflow-x: visible;
}

.page {
    position: relative;
    z-index: 1;
    height: 88%;
    width: 100%;
    overflow-y: scroll;
    padding-left: 10%;
}