@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .side-btn {
        color: red;
    }
    .nav-btn {
        color: blue
    }
    .main-btn {
        display: inline-block;
        outline: 0;
        appearance: none;
        padding: 0px 12px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        background-color: rgb(249, 251, 250);
        border: 1px solid rgb(137, 151, 155);
        box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
        color: rgb(61, 79, 88);
        font-size: 14px;
        font-weight: 400;
        height: 36px;
        transition: all 150ms ease-in-out 0s;
    }
    .main-hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
    }
    .section-heading {
        font-size: 2.5rem;
        margin: 1rem;
    }
    .section {
        border: 1px solid black;
    }
    .project-heading {
        font-size: 1.25rem;
        margin: 0.5rem;
        font-weight: 500;
        color: gray;
    }
    .project-img {
        object-fit: cover;
        border: 3px solid var(--dk-gray);
        border-radius: 5px;
    }
    .pills-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.25rem;

    }

    .pill {
        font-weight: 600;
        text-transform: uppercase;
        /* opacity: 0.8; */
        color: white;
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
    
}

@layer utilities {
    .hidden {
        display: none;
    }
    .click-through {
        pointer-events: none;
    }
    .h-1px {
        height: 1px;
    }
    .h-more {
        height: calc(100vh + 7rem);
    }
    .yellow {
        background-color: goldenrod;
    }

    .blue {
        background-color: blue;
    }

    .teal {
        background-color: teal;
    }

    .red {
        background-color: red;
    }

    .purple {
        background-color: darkred;
    }

    .gray {
        background-color: lightslategray;
    }

    .darkgray {
        background-color:saddlebrown;
    }

    .lightpurple {
        background-color: blueviolet;
    }

    .green {
        background-color:darkgreen;
    }
    .black {
        background-color: black;
    }
    .orange {
        background-color: orange;
    }
}