@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .side-btn {
        color: red;
    }
    .nav-btn {
        color: blue
    }
}

@layer utilities {
    .hidden {
        display: none;
    }
    .click-through {
        pointer-events: none;
    }
    .h-1px {
        height: 1px;
    }
    .h-more {
        height: calc(100dvh + 7rem);
    }
    .h-main {
        height: calc(100% + 5rem);
    }
    .h-less {
        height: calc(100dvh - 5rem);
    }
    .w-less {
        width: calc(100dvw - 2rem);
    }
    .w-less-2 {
        width: calc(100dvw - 4.75rem);
    }
    .w-main-container {
        width: calc(100dvw - 60px)
    }
    .yellow {
        background-color: goldenrod;
    }

    .blue {
        background-color: blue;
    }

    .teal {
        background-color: teal;
    }

    .red {
        background-color: red;
    }

    .purple {
        background-color: darkred;
    }

    .gray {
        background-color: lightslategray;
    }

    .darkgray {
        background-color:saddlebrown;
    }

    .lightpurple {
        background-color: blueviolet;
    }

    .green {
        background-color:darkgreen;
    }
    .black {
        background-color: black;
    }
    .orange {
        background-color: orange;
    }
    .highlight {
        background-color: white;
    }
}