/* media queries */

/* manage body height based on screen size (cut off body if screen height is less than content) */

@media screen and (min-height: 48.5rem) {
    body {
        height: calc(100vh + 7rem)
    }

    .side-menu-section {
        height: 38rem;
        margin-top: 0.5rem;
        overflow-y: visible;
    }
}

/* Collapse nav menu */

@media screen and (max-width: 954px) {

    nav {
        display: none;
    }

    .show-menu {
        position: absolute;
        right: 2rem;
        top: 4rem;
        display: flex;
        flex-direction: column;
        width: 20rem;
        background-color: white;
        z-index: 10;
        box-shadow: 0 0 10px var(--dk-gray);
        padding: 1em;
        border-radius: 5px;
        color: var(--dk-gray)
    }

    .nav-menu h2 {
        display: block;
        font-weight: 300;
    }

    .menu-current {
        border-bottom: 2px solid var(--lt-gray);
    }

    .menu-close {
        display: inline-block;
    }

    .contact-btn {
        margin: 1em auto;
    }

    .menu-btn,
    .menu-btn * {
        display: inline-block;
    }

    .menu-btn {
        background-color: var(--dk-purple);
        padding: 0.5em;
        margin-top: -0.5em;
    }

}



/* Mobile-friendly layout */

@media screen and (max-width: 750px) and (orientation: portrait) {

    body {
        margin: 0;
        padding: 0;
        min-height: calc(100vh + 8rem);
        overflow-x: hidden;
    }

    main {
        display: block;
        overflow-x: hidden;
        height: calc(100% - 13rem);
    }

    /* side menu */
    .side-menu-section {
        height: 38rem;
        position: absolute;
        top: -10rem;
        left: -18rem;
        z-index: 4;
        margin-top: 0rem;
    }

    .page-section {
        background-color: transparent;
        position: relative;
        font-family: var(--main-font);
        width: 100%;
        padding: 0rem;
    }

    .page {
        padding-left: 2.5rem;
        height: calc(100vh - 13rem);
    }

    .page-overlay {
        height: calc(100vh);
        margin-left: 1rem;
    }

    .main-img-container {
        height: 15rem;
        width: 20rem;
        top: -2rem;
        left: -7rem;
        /* z-index: 1; */
    }

    .main-img {
        width: 11rem;
        bottom: 18%;
        left: 25%;
    }

    .welcome-page {
        margin-top: 1rem;
        padding-left: 5rem;
        padding-right: 1rem;
    }


    .about-page {
        margin-left: 1rem;
    }

    .dialog {
        height: 100%;
        width: 100%;

    }

    .dialog ul li {
        margin: 2em 0;
        font-size: 1.25rem;
    }


    .dialog-decoration {
        bottom: -40%;
    }

    /* Nav */

    .show-menu {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 5px;
        width: 100vw;
        height: 100vh;
        font-size: 24px;
    }


    .nav-btn {
        margin: 0.5em 0;
    }

    nav .dialog-decoration {
        display: block;
    }

    .logo {
        height: 3rem;
    }

    .page:not(.welcome-page) {
        padding: 1rem 2.5rem 0 4.5rem;

    }

    .btn-brush .btn {
        font-size: 1.4rem
    }
}

@media screen and (max-width: 550px) and (orientation: portrait) {

    .page {
        padding-left: 2.5rem;
        height: calc(100vh - 13rem);
    }

    .page-overlay {
        height: calc(100vh - 4rem);
        margin-left: 1rem;
    }

    .welcome-page {
        margin-top: 1rem;
        padding-left: 4.5rem;
        padding-right: 1rem;
    }
}

@media screen and (max-height: 550px) and (orientation: landscape) {
    .dialog-overlay {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fafafccc;
        z-index: 10;
    }

    .dialog {
        width: 360px;
        max-width: 100vw;
        height: 450px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px var(--dk-gray);
        font-family: var(--main-font);
        color: var(--dk-gray);
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin-top: 3rem;
    }
}