.animate-in {
    animation: img-enter 0.5s ease-in forwards;
}

/* animations */

@keyframes img-enter {
    0% {
        background: linear-gradient(to right, transparent 0%, white 0%);
    }

    2% {
        background: linear-gradient(to right, transparent 2%, white 2%);
    }

    4% {
        background: linear-gradient(to right, transparent 4%, white 4%);
    }

    6% {
        background: linear-gradient(to right, transparent 6%, white 6%);
    }

    8% {
        background: linear-gradient(to right, transparent 8%, white 8%);
    }

    10% {
        background: linear-gradient(to right, transparent 10%, white 10%);
    }

    12% {
        background: linear-gradient(to right, transparent 12%, white 12%);
    }

    14% {
        background: linear-gradient(to right, transparent 14%, white 14%);
    }

    16% {
        background: linear-gradient(to right, transparent 16%, white 16%);
    }

    18% {
        background: linear-gradient(to right, transparent 18%, white 18%);
    }

    20% {
        background: linear-gradient(to right, transparent 20%, white 20%);
    }

    22% {
        background: linear-gradient(to right, transparent 22%, white 22%);
    }

    24% {
        background: linear-gradient(to right, transparent 24%, white 24%);
    }

    26% {
        background: linear-gradient(to right, transparent 26%, white 26%);
    }

    28% {
        background: linear-gradient(to right, transparent 28%, white 28%);
    }

    30% {
        background: linear-gradient(to right, transparent 30%, white 30%);
    }

    32% {
        background: linear-gradient(to right, transparent 32%, white 32%);
    }

    34% {
        background: linear-gradient(to right, transparent 34%, white 34%);
    }

    36% {
        background: linear-gradient(to right, transparent 36%, white 36%);
    }

    38% {
        background: linear-gradient(to right, transparent 38%, white 38%);
    }

    40% {
        background: linear-gradient(to right, transparent 40%, white 40%);
    }

    42% {
        background: linear-gradient(to right, transparent 42%, white 42%);
    }

    44% {
        background: linear-gradient(to right, transparent 44%, white 44%);
    }

    46% {
        background: linear-gradient(to right, transparent 46%, white 46%);
    }

    48% {
        background: linear-gradient(to right, transparent 48%, white 48%);
    }

    50% {
        background: linear-gradient(to right, transparent 50%, white 50%);
    }

    52% {
        background: linear-gradient(to right, transparent 52%, white 52%);
    }

    54% {
        background: linear-gradient(to right, transparent 54%, white 54%);
    }

    56% {
        background: linear-gradient(to right, transparent 56%, white 56%);
    }

    58% {
        background: linear-gradient(to right, transparent 58%, white 58%);
    }

    60% {
        background: linear-gradient(to right, transparent 60%, white 60%);
    }

    62% {
        background: linear-gradient(to right, transparent 62%, white 62%);
    }

    64% {
        background: linear-gradient(to right, transparent 64%, white 64%);
    }

    66% {
        background: linear-gradient(to right, transparent 66%, white 66%);
    }

    68% {
        background: linear-gradient(to right, transparent 68%, white 68%);
    }

    70% {
        background: linear-gradient(to right, transparent 70%, white 70%);
    }

    72% {
        background: linear-gradient(to right, transparent 72%, white 72%);
    }

    74% {
        background: linear-gradient(to right, transparent 74%, white 74%);
    }

    76% {
        background: linear-gradient(to right, transparent 76%, white 76%);
    }

    78% {
        background: linear-gradient(to right, transparent 78%, white 78%);
    }

    80% {
        background: linear-gradient(to right, transparent 80%, white 80%);
    }

    82% {
        background: linear-gradient(to right, transparent 82%, white 82%);
    }

    84% {
        background: linear-gradient(to right, transparent 84%, white 84%);
    }

    86% {
        background: linear-gradient(to right, transparent 86%, white 86%);
    }

    88% {
        background: linear-gradient(to right, transparent 88%, white 88%);
    }

    90% {
        background: linear-gradient(to right, transparent 90%, white 90%);
    }

    92% {
        background: linear-gradient(to right, transparent 92%, white 92%);
    }

    94% {
        background: linear-gradient(to right, transparent 94%, white 94%);
    }

    96% {
        background: linear-gradient(to right, transparent 96%, white 96%);
    }

    98% {
        background: linear-gradient(to right, transparent 98%, white 98%);
    }

    100% {
        background: linear-gradient(to right, transparent 100%, white 100%);
    }
}