/* Typeology */

h1 {
    font-size: 3.2em;
    line-height: 1;
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

/* Click */

.click-through {
    pointer-events: none;
}

/* Buttons */

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 1rem;
}

.btn-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-stack button {
    align-self: center;
}

.btn-brush {
    height: fit-content;
    width: fit-content;
    -webkit-mask-image: url('../assets/paintstripe.png');
        mask-image: url('../assets/paintstripe.png');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    margin: 0 1rem;   
}

.btn-brush:hover {
    filter: brightness(1.25);
}

.btn-brush:active {
    background-color: var(--dk-teal);
}

.btn-brush button {
    margin: 0.5rem 2rem 0.75rem 1rem;
    width: 6rem;
    height: 4rem;
    background-color: transparent;
    color: white;
    white-space: nowrap;
}


/* Colors */

.yellow {
    background-color: var(--yellow);
}

.blue {
    background-color: blue;
}

.teal {
    background-color: var(--dk-teal);
}

.red {
    background-color: var(--md-red);
}

.purple {
    background-color: var(--dk-purple);
}

.gray {
    background-color: var(--md-gray);
}

.darkgray {
    background-color: var(--dk-gray);
}

.lightpurple {
    background-color: var(--md-purple);
}

.lightteal {
    background-color: var(--lt-teal);
}